- name: Ensure cni plugin dir
  ansible.builtin.file:
    path: "{{ cni_plugins_dir }}"
    state: directory
    mode: 0755
    owner: root
    group: root

- name: Ensure cni config  dir
  ansible.builtin.file:
    path: /etc/cni/net.d
    state: directory
    mode: 0755
    owner: root
    group: root

- name: Ensure cni plugins
  ansible.builtin.unarchive:
    src: "{{ cni_plugins_url | replace(' ', '') }}"
    dest: "{{ cni_plugins_dir }}"
    creates: "{{ cni_plugins_dir }}/dhcp"
    remote_src: true
    validate_certs: true
    mode: 0777
    owner: root
    group: root

- name: Template cni configuration
  ansible.builtin.template:
    src: etc/cni/net.d/10-nomad.conf.j2
    dest: /etc/cni/net.d/10-nomad.conf
    mode: 0644
    owner: root
    group: root
