# Main variables
datacenter = "[[ nomad_datacenter ]]"
data_dir = "[[ nomad_data_dir ]]"

[% if autopilot_enabled %]
autopilot {
  cleanup_dead_servers      = true
  last_contact_threshold    = "200ms"
  max_trailing_logs         = 250
  server_stabilization_time = "10s"
}
[% endif %]

[% if server | bool %]
server {
  enabled = true
  raft_protocol = 3
[% if consul_enabled %]
  server_join {
    retry_join = [ "sense", "bare", "octopi" ]
  }
[% endif %]
  node_gc_threshold = "1h"
  job_gc_interval = "5m"
  job_gc_threshold = "30m"
  eval_gc_threshold = "24h"

  heartbeat_grace = "20s"
  min_heartbeat_ttl = "30s"
  non_voting_server = false

  rejoin_after_leave = true

  search {
    fuzzy_enabled = true
    limit_query = 10
    limit_results = 100
    min_term_length = 5
  }

}
[% endif %]

client {
  enabled = true
  disable_remote_exec = false
  node_class = [[ ansible_userspace_bits ]]
[% if consul_enabled %]
  server_join {
    retry_join = ["nomad.service.consul"]
  }
[% else %]
# This should be a variable list
  server_join {
    retry_join = ["bare", "sense", "octopi"]
  }
[% endif %]
# volume configuration
[% for hv in nomad_host_volumes %]
  host_volume "[[ hv.name ]]" {
    path = "/data/[[ hv.path ]]"
    read_only = false
  }
[% endfor %]
  artifact {
    decompression_file_count_limit = 0
  }
}

acl {
  enabled = [[ nomad_enable_acl | bool | lower ]]
}
bind_addr = "{{ GetInterfaceIP \"tailscale0\" }}"

[% if consul_enabled %]
consul {
  address             = "127.0.0.1:8500"
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true
  tags = ["ansible-managed"]
  timeout = "30s"
}
[% endif  %]

[% if enable_raw_exec %]
plugin "raw_exec" {
  config {
    enabled = true
    no_cgroups = true
  }
}
[% endif %]

[% if enable_podman %]
plugin "nomad-driver-podman" {
  config {
    recover_stopped = true
    extra_labels = ["job_name"]
    gc {
      container = true
    }
  }
}
[% endif %]

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

log_file = "/var/log/nomad/nomad.log"
log_level = "INFO"
log_json = true
log_rotate_duration = "24h"
log_rotate_bytes = 10485760
