[% if server | bool %]
ui {
  enabled =  true
  show_cli_hints = true
  content_security_policy {
    connect_src     = ["*"]
    default_src     = ["'none'"]
    form_action     = ["'none'"]
    frame_ancestors = ["'none'"]
    img_src         = ["'self'","data:"]
    script_src      = ["'self'"]
    style_src       = ["'self'","'unsafe-inline'"]
  }

  consul {
    ui_url = "http://consul.service.consul:8500/ui"
  }

  vault {
    ui_url = "http://active.vault.service.consul:8200/ui"
  }

  label {
    text             = "Hashi@Home"
    background_color = "green"
    text_color       = "#000000"
  }
}
[% endif %]
