---
name: Release
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ansible_lint:
    name: ansible lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Ansible Lint
        uses: ansible-community/ansible-lint-action@v6.8.2
        with:
          path: test/lint-playbook.yml
        env:
          ANSIBLE_ROLES_PATH: "${PWD}/../"
  packer_lint:
    name: Packer lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get Packer
        run: |
          curl https://releases.hashicorp.com/packer/1.8.5/packer_1.8.5_freebsd_amd64.zip \
          | gunzip -> packer ;\
          chmod u+x packer
      - name: Init packer
        run: |
          "../../packer init ."
        working-directory: .github/build

  release:
    name: Release
    needs:
      - ansible_lint
      - packer_lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: add semantic release plugins
        run: |
          npm install -D '@semantic-release/changelog' \
                          '@semantic-release/git'

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
  build:
    name: Build
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get Packer
        run: |
          curl https://releases.hashicorp.com/packer/1.8.5/packer_1.8.5_freebsd_amd64.zip \
          | gunzip -> packer ;\
          chmod u+x packer
