---
name: Release
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ansible_lint:
    name: ansible lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Ansible Lint
        uses: ansible/ansible-lint@v26.1.1
        env:
          ANSIBLE_ROLES_PATH: "${PWD}/../"
  packer_lint:
    name: Packer lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get Packer
        run: |
          curl https://releases.hashicorp.com/packer/1.8.5/packer_1.8.5_linux_amd64.zip \
          | gunzip -> packer
      - name: Make packer executable
        run: chmod u+x packer
      - name: Init packer
        run: ../../packer init .
        working-directory: .github/build

  release:
    name: Release
    needs:
      - ansible_lint
      - packer_lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: add semantic release plugins
        run: |
          npm install -D '@semantic-release/changelog' \
                          '@semantic-release/git'

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      - name: Publish to Galaxy
        uses: ansible-actions/ansible-galaxy-action@v1.2.0
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
  build:
    name: Build
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Packer
        run: |
          curl https://releases.hashicorp.com/packer/1.8.5/packer_1.8.5_freebsd_amd64.zip \
          | gunzip -> packer ;\
          chmod u+x packer
